<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wnwy.project.mapper.TasteMapper">
  <resultMap id="BaseResultMap" type="com.wnwy.project.entities.Taste">
    <id column="taste_id" jdbcType="INTEGER" property="tasteId" />
    <result column="taste_name" jdbcType="VARCHAR" property="tasteName" />
  </resultMap>
  <sql id="Base_Column_List">
    taste_id, taste_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from taste
    where taste_id = #{tasteId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from taste
    where taste_id = #{tasteId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wnwy.project.entities.Taste">
    insert into taste (taste_id, taste_name)
    values (#{tasteId,jdbcType=INTEGER}, #{tasteName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wnwy.project.entities.Taste">
    insert into taste
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tasteId != null">
        taste_id,
      </if>
      <if test="tasteName != null">
        taste_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tasteId != null">
        #{tasteId,jdbcType=INTEGER},
      </if>
      <if test="tasteName != null">
        #{tasteName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wnwy.project.entities.Taste">
    update taste
    <set>
      <if test="tasteName != null">
        taste_name = #{tasteName,jdbcType=VARCHAR},
      </if>
    </set>
    where taste_id = #{tasteId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wnwy.project.entities.Taste">
    update taste
    set taste_name = #{tasteName,jdbcType=VARCHAR}
    where taste_id = #{tasteId,jdbcType=INTEGER}
  </update>
</mapper>